% Generated MiniZinc Model - Simple Temporal Network Problem
% Variables: <%= @variable_count %>
% Constraints: <%= @constraint_count %>
% Generated at: <%= @generation_start %>

% Parameters
int: num_time_points = <%= @num_time_points %>;

<%= if @num_time_points > 0 do %>
int: horizon = <%= @horizon %>;
set of int: TIME_POINTS = 1..num_time_points;

% Time point names for debugging
array[TIME_POINTS] of string: time_point_names = [<%= Enum.map_join(@time_point_names, ", ", &"\"#{&1}\"") %>];

% Time Point Variables
<%= for var <- @variables.time_vars do %>
var <%= var.domain %>: <%= var.name %>;
<% end %>

% Distance Matrix Variables
<%= for var <- @variables.distance_vars do %>
<%= var.definition %>
<% end %>

% Constraints
<%= for constraint <- @constraints do %>
<%= constraint %>
<% end %>

% Objective
<%= @objective %>

% Output
output [
  "time_points = [" ++ join(", ", [show(time_points[i]) | i in TIME_POINTS]) ++ "];\n",
  "makespan = " ++ show(makespan) ++ ";\n",
  "% Time point assignments:\n"
] ++ [
  "% " ++ time_point_names[i] ++ " = " ++ show(time_points[i]) ++ "\n" | i in TIME_POINTS
];
<% else %>
% Empty STN problem - no time points to schedule
var 0..0: makespan = 0;

solve satisfy;

% Output format for empty problem
output [
  "time_points = [];\n",
  "makespan = 0;\n",
  "% Empty STN problem - no time points\n"
];
<% end %>
